@import "../styles/variables.scss";


.leftData {
  background-color: $dark-grey-background-opacity;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 73%;
  margin-bottom: 1%;
  margin-left: 2vh;
  position:absolute;
  left: 0;
  bottom: 0;
  padding: 2px;
  overflow:scroll;
  overflow-x: hidden;
  color: white;
  border-radius: 0px 15px 15px 0px;
  direction: rtl;

  span {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 900;
    color: $white-active;
    margin: 3vh 6.5vh .5vh 2vh;
    text-shadow: 0 0 1.5px #FFFFFF;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  
 &::-webkit-scrollbar-track {
    background: $dark-grey-background-opacity;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $accent;   
    border-radius: 5px;
  }
  & {
    scrollbar-width: thin;
    scrollbar-color: $dark-grey-background-opacity $white-inactive;
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-content: flex-start;
    overflow: visible;
    // overflow-x: ;
    background: $black-opacity;
    border-radius: 35px;
    box-shadow: 13px 15px 15px -3px rgba(0, 0, 0, 0.404);
    margin: 1vh 0vh 5vh .5vh;
    transition: 0.3s;
    position:relative;

    &:hover {
      background-color: $black;
    }

    .wordCloud {
      width: 80%;
      // background-size: contain
      overflow: hidden;
      // position:fixed;

    }
    .barchart {
      // width: 80%;
      background-size: contain;
      // position: fixed;
      
      // overflow;
    }
    .piechart {
      width: 80%;
      background-size: contain;
      // overflow: hidden;
    }
  }
}